<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="CLO Model 2"  Language="1033" Version="1.8.8.0" Manufacturer="TwentyFour Asset Management" UpgradeCode="c91c11ba-bc0b-41af-880a-1c7c03e2727f">
		<Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perMachine" Platform="x86"/>
		<Condition Message="You need to be an administrator to install this product.">
		  Privileged
		</Condition>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
        <?if $(var.Platform) = x64 ?>
            <?define SystemDir = "SysWOW64" ?>
        <?else ?>
            <?define SystemDir = "system32" ?>
        <?endif ?>
		<Property Id="FOUNDMSCOM">
			<DirectorySearch Id="CheckMsComDir" Path="[System32Dir]" Depth="0">
				<FileSearch Id="CheckMsCom" Name="mscomct2.ocx" />
			</DirectorySearch>
		</Property>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Property Id="ARPPRODUCTICON" Value="TwentyFourIcon.ico" />
		<Feature Id="ModelSetup" Title="CLO Model 2.0 Setup" Level="1" Description="Installs the new components" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="FileAssociation" />
			<ComponentRef Id='INSTALLFOLDER'/>
		</Feature>
		<Feature Id='APImanual' Title='.Net API Manual' Level='5' Description='Installs the manual for the .Net API' ConfigurableDirectory='MANUALSDIR'>
			<ComponentGroupRef Id="Manuals" />
		</Feature>
		<Feature Id="VCRedist" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
			<MergeRef Id="VCRedist"/>
		</Feature>
        <Feature Id='InstallMsCom' Title='Install MS Com 2 toolkit' Level='1' Display='hidden'>
            <ComponentRef Id ='MSCOM2'/>
            <Condition Level='0'>FOUNDMSCOM</Condition>
        </Feature>
		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />
		<WixVariable Id="WixUILicenseRtf" Value="..\Documentation\License.rtf"/>
		<Icon Id='TwentyFourIcon.ico' SourceFile='..\CLOModelV2\Resources\Logo.ico'/>
	</Product>
	<?include mscom.wxi?>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="WindowsDir" Name="Windows">
					<Directory Id="System32Dir" Name="$(var.SystemDir)" />
			</Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CLO Model 2.0">
					<Directory Id="MANUALSDIR" Name="Manual" />
				</Directory>
			</Directory>
		</Directory>
		<DirectoryRef Id="TARGETDIR">
			<Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>
		</DirectoryRef>
	</Fragment>
	<Fragment>
        <ComponentGroup Id="FileAssociation" Directory="INSTALLFOLDER">
			<Component Id="BaseCases" Guid="92A982A3-368D-40EB-9D93-C91647879B8C">
				<RegistryKey Id="BaseCasesKey" Root="HKCU" Key="SOFTWARE\Classes\.clo" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Value='CLO.BaseCase' />
				</RegistryKey>
				<RegistryKey Id="BaseCasesKeyShell" Root="HKCU" Key="SOFTWARE\Classes\.clo\ShellNew" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Name='NullFile' Value='' />
				</RegistryKey>
			</Component>
			<Component Id="StressTests" Guid="28ADF31C-6E47-437D-8C5B-E4880D0B4599">
				<RegistryKey Id="StressTestsKey" Root="HKCU" Key="SOFTWARE\Classes\.fcsr" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Value='CLO.BaseCase' />
				</RegistryKey>
				<RegistryKey Id="StressTestsKeyShell" Root="HKCU" Key="SOFTWARE\Classes\.fcsr\ShellNew" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Name='NullFile' Value='' />
				</RegistryKey>
			</Component>
			<Component Id="ApplicationReg" Guid="2389C1EE-097D-4F4A-9D07-70863DFC5765">
				<RegistryKey Id="ApplicationRegKey" Root="HKCU" Key="SOFTWARE\Classes\CLO.BaseCase" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Value='CLOViewer' />
				</RegistryKey>
				<RegistryKey Id="ApplicationRegIcon" Root="HKCU" Key="SOFTWARE\Classes\CLO.BaseCase\DefaultIcon" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Value='"Z:\24AM\Analytics\Development\CLOModel2\Environment\LogoIcon.ico"' />
				</RegistryKey>
				<RegistryKey Id="ApplicationRegComand" Root="HKCU" Key="SOFTWARE\Classes\CLO.BaseCase\shell\Open\command" ForceCreateOnInstall="yes">
					<RegistryValue Type='string' Value='"Z:\24AM\Analytics\Development\CLOModel2\Environment\CLOViewer.exe" "%1"' />
				</RegistryKey>
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="Manuals" Directory="MANUALSDIR">
			<Component Id="PDFmanual" Guid="DF61D867-07CB-4F30-9322-47B8DFAB1C66">
				<File Id="PDFmanualFile" Name="Manual.pdf" Source="..\Documentation\NETapi\latex\refman.pdf" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
		<Component Id="INSTALLFOLDER" Directory="INSTALLFOLDER" Guid="8EC4DE0C-8452-4D77-AD0F-4FF38395EC2C">
			<RemoveFolder Id='INSTALLFOLDER' On='uninstall' />
		</Component>
	</Fragment>
</Wix>